*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-align: center;
}

body {
    background: linear-gradient(135deg, red, #54c0c6);
    height: 100vmin;
}

.canvas-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
}

#canvas{
    border: 5px solid rgb(102, 91, 150);
    border-radius: 7px;
    height: 100%;
    aspect-ratio: 1/1;
    cursor: crosshair;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    margin-top: 7px;
}

#predict{
    background-color: #DA498D;
    width: 10rem;
    padding: .6rem;
    margin: 0px 20px 0px 20px;
    border: 4px solid #69247C ;
    border-radius: 15px;
    color: #FAC67A;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

#clear{
    background-color: #DA498D;
    width: 10rem;
    padding: .6rem;
    margin: 0px 20px 0px 20px;
    border: 4px solid #69247C ;
    border-radius: 15px;
    color: #FAC67A;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

h2{
    font-family:cursive;
    font-weight: 600;
    font-size: 1.6rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
}

h3{
    font-family:cursive;
    font-weight: 500;
    font-size: 1.4rem;
    height: 3.85rem;
    line-height: 3.5rem;
    text-align: center;
}

@media only screen and (max-width: 520px) {
    .canvas-container{
        height: 87vmin;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    body{
        height: 100vmax;
    }

    .button-container{
        margin-bottom: 20px;
    }
}
 