<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAHAHAHAHHA</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <h2>Draw a digit (0-9):</h2>
    <canvas id = "canvas" width="500" height="500"></canvas>
    <br>
    <button id = "predict">Predict</button>
    <button id = "clear">clear</button>
    <h3 id="result">Prediction: </h3>

    <script src="static\script.js"></script>
</body>
</html>